.loader-overlay {
  min-height: 500px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


