@use "mixins";

.home-offers {
  &--header {
    &-left {
      max-width: 70%;
      @include mixins.media-query('max', 'xl') {
        max-width: 100%;
      }
    }

    span {
      color: var(--color-black-700);
      @include mixins.fontSize(18, 24);
      @include mixins.media-query('max', 'xlg') {
        @include mixins.fontSize(14, 24);
      }
    }
  }
}

.__counter {
  @include mixins.fontSize(14, 24);

  b {
    font-weight: 600;
  }
}

.add_info {
  @include mixins.media-query('max', 'xlg') {
    .grid {
      flex-direction: column-reverse;
    }
  }

  ._d {
    max-width: 526px;
    @include mixins.media-query('max', 'xlg') {
      max-width: unset;
    }
  }

  ._img {
    background: url('../../../../public/layout/images/chlopy.webp') no-repeat scroll center center / cover;
    width: 100%;
    aspect-ratio: 320/237;
  }

  h2 {
    font-weight: 600;
    @include mixins.fontSize(48, 56);
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(26, 36);
    }
  }

  span {
    color: var(--color-black-700);
    @include mixins.fontSize(16, 24);
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(14, 24);
    }
  }
}
