@use 'mixins';

.list {
  &--header {
    &-counter {
      @include mixins.fontSize(14);
      color: var(--color-black-900);

      span {
        font-weight: 600;
      }
    }
  }

  &--body {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;

      .product {

      }

      .banner {
        grid-column: 1 / -1;

      }

      .product-full {
        grid-column: 1 / -1;
      }
    }
  }
}
