@use 'mixins';

.list {
  &--header {
    &-counter {
      @include mixins.fontSize(14);
      color: var(--color-black-900);

      span {
        font-weight: 600;
      }
    }
  }

  &--body {
    &-grid {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  &--loader {
    min-height: 320px;
  }

  &--load-more {
    position: relative;
    margin-top: 2rem;
    min-height: 1px;

    &-active {
      padding-bottom: 2rem;
    }

    &-status {
      margin-top: 1.5rem;
    }

    &-error {
      gap: 1rem;

      &-message {
        margin-bottom: 1rem;
        color: var(--color-black-700);
      }
    }
  }

  .list--sentinel {
    display: block;
    width: 100%;
    height: 1px;
    pointer-events: none;
  }
}

