@use 'mixins';

.list {
  &--header {
    &-counter {
      @include mixins.fontSize(14);
      color: var(--color-black-900);

      span {
        font-weight: 600;
      }
    }
  }
}

.no-offers {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    @include mixins.fontSize(48);
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top:48px;
    padding-bottom: 16px;
  }
  span{
    color: var(--color-black-700);
    @include mixins.fontSize(20);
    line-height: 32px;
  }
}
