@use 'mixins';

.list {
  &--header {
    &-counter {
      @include mixins.fontSize(14);
      color: var(--color-black-900);

      span {
        font-weight: 600;
      }
    }
  }

  &--body {
    &-grid {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  &--loader {
    min-height: 320px;
  }
}

