<div class="list">
  @if (offerList?.offers?.length) {
    <div class="list--header pb-5 flex align-items-center justify-content-between">
      <div class="list--header-counter">
        Liczba dostępnych ofert: <span>{{offerList?.meta.total}}</span>
      </div>
      <div class="list--header-sort">
        Sortowanie: Najnowsze
      </div>
    </div>
  }
  <div class="list--body">
    @if (offerList?.offers?.length) {
      <div class="list--body-grid"></div>
    } @else {
      <flexmile-nothing-found></flexmile-nothing-found>
    }
  </div>
</div>
