@use "mixins";
.not-found{
  height: 100vh;
  padding-top:126px;
  background: var(--p-primary-900);
  display: flex;
  align-items: center;
  justify-content: center;
  & > div{
    text-align: center;
    h3{
      color: var(--color-white);
      font-weight: 600;
      @include mixins.fontSize(120);
      line-height: 100%;
      margin-bottom: 16px;
      position: relative;
      display: inline-block;
      svg{
        position: absolute;
        bottom: -10px;
        right: 29px;
      }
    }
    h4{
      font-weight: 600;
      line-height: 56px;
      @include mixins.fontSize(48);
      margin-bottom: 16px;
    }
    span{
      line-height: 32px;
      @include mixins.fontSize(20);
      margin-bottom: 48px;
      display: block;
    }
    h4, span{
      color: var(--color-white);
    }
  }
}
