@use "mixins";

.opinions {
  .opinion {
    padding: 40px;
    background-color: var(--color-black-50);
    border-radius: var(--border-radius-base);

    .content {
      color: #525252;
      @include mixins.fontSize(16, 24);
    }

    .name {
      font-weight: 500;
      @include mixins.fontSize(20, 24);
    }

    .city {
      @include mixins.fontSize(16, 24);
    }
  }

  .dreams {
    .col-8 {
      padding: 0 0 0 16px;

      & > div {
        background: #863087;
        border-radius: 24px;
        padding: 40px;
        position: relative;

        .icon {
          position: absolute;
          right: 40px;
          top: 40px;
        }

        h2 {
          padding-bottom: 16px;
          color: var(--color-white);
          @include mixins.fontSize(48, 56);
          font-weight: 600;
        }

        span {
          color: var(--color-white);
          display: block;
          @include mixins.fontSize(16, 24);
        }
      }
    }

    .col-4 {
      padding: 0 16px 0 0;

      & > div {
        border-radius: 24px;
        background: url('../../../../../../public/layout/images/gosciu.webp') no-repeat scroll center center / cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
