@use "reset";
@use "fonts";
@use "variables";
@use "grid";
@use "mixins";

html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family), sans-serif;
}

h2 {
  @include mixins.fontSize(48);
  font-weight: 600;
  color: var(--color-black);
  line-height: 56px;
}


.label {
  color: var(--color-white);
  @include mixins.fontSize(14);
  margin-bottom: 8px;
  display: block;

  &.disabled {
    color: var(--color-purple-500);
  }
}


.ngx-slider {
  margin: 25px 0 15px !important;

  .ngx-slider-selection {
    background: var(--color-green-900) !important;
  }

  .ngx-slider-bar:not(.ngx-slider-selection) {
    background: var(--color-white) !important;
  }

  .ngx-slider-bubble {
    color: var(--color-white) !important;
    @include mixins.fontSize(14, true);
    bottom: -32px !important;
  }

  .ngx-slider-pointer {
    width: 24px !important;
    height: 24px !important;
    background: var(--color-green-900) !important;
    top: -10px !important;

    &:after {
      width: 16px !important;
      height: 16px !important;
      border-radius: 32px !important;
      left: 4px !important;
      top: 4px !important;
    }

    &.ngx-slider-active:after {
      background: var(--color-white) !important;
    }
  }
}

main {
  margin-top: 126px;
}

.list {
  &--body {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;

      .product {

      }

      .banner {
        grid-column: 1 / -1;

      }

      .product-full {
        grid-column: 1 / -1;
      }
    }
  }
}

  .owl-nav {
    & > div {
      position: absolute;

      padding: 0 !important;
      height: 40px !important;
      width: 40px !important;
      border-radius: 50px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background: var(--color-green-800) !important;
      color: var(--p-primary-900) !important;
      top: 50%;
      transform: translateY(-50%);
      &.owl-prev{
        left:0;
        margin: 0 0 0 -20px !important;
      }
      &.owl-next{
        right:0;
        margin: 0 -20px 0 0 !important;
      }
    }
  }

