@use "reset";
@use "fonts";
@use "variables";
@use "grid";
@use "mixins";
@use "policy";

html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family), sans-serif;
}

html, body{
  overflow-x: hidden;
}
.__loading {
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}



input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #863087;
    background-color: CanvasText;
  }

  &:checked:before {
    transform: scale(1);
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h2 {
  @include mixins.fontSize(48, 56);
  font-weight: 600;
  color: var(--color-black);
  @include mixins.media-query('max', 'xlg') {
    @include mixins.fontSize(28, 36);
  }

}


.label {
  color: var(--color-white);
  @include mixins.fontSize(14);
  margin-bottom: 8px;
  display: block;

  &.disabled {
    color: var(--color-purple-500);
  }
}


.ngx-slider {
  margin: 25px 0 15px !important;

  .ngx-slider-selection {
    background: var(--color-green-900) !important;
  }

  .ngx-slider-bar:not(.ngx-slider-selection) {
    background: var(--color-white) !important;
  }

  .ngx-slider-bubble {
    color: var(--color-white) !important;
    @include mixins.fontSize(14, true);
    bottom: -32px !important;
  }

  .ngx-slider-pointer {
    width: 24px !important;
    height: 24px !important;
    background: var(--color-green-900) !important;
    top: -10px !important;

    &:after {
      width: 16px !important;
      height: 16px !important;
      border-radius: 32px !important;
      left: 4px !important;
      top: 4px !important;
    }

    &.ngx-slider-active:after {
      background: var(--color-white) !important;
    }
  }
}

.list {
  &--body {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 32px;

      .product {
        min-width: 0;
      }

      .banner {
        grid-column: 1 / -1;

      }

      .product-full {
        grid-column: 1 / -1;
      }

      // Responsive breakpoints
      @include mixins.media-query('max', 'xxl') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
        .product:nth-child(11n-1) {
          display: none;
        }
      }

      @include mixins.media-query('max', 'lg') {
        grid-template-columns: 1fr;
        gap: 16px;
      }
    }
  }
}

.owl-nav {
  & > div {
    position: absolute;

    padding: 0 !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: var(--color-green-800) !important;
    color: var(--p-primary-900) !important;
    top: 50%;
    transform: translateY(-50%);

    &.owl-prev {
      left: 0;
      margin: 0 0 0 -20px !important;
    }

    &.owl-next {
      right: 0;
      margin: 0 -20px 0 0 !important;
    }
  }
}

