@use "variables";

@mixin padding($values...) {
  $converted-values: ();

  @each $value in $values {
    $converted-values: append($converted-values, ($value / variables.$mainFontSize) + rem);
  }

  padding: $converted-values;
}

@import "variables";

@mixin fontSize($size, $lineHeight: null, $important: false) {
  $remSize: $size / variables.$mainFontSize;
  font-size: #{$remSize}rem #{"#{if($important, ' !important', '')}"};
  
  @if $lineHeight != null {
    @if type-of($lineHeight) == 'number' and unit($lineHeight) == '' {
      $remLineHeight: $lineHeight / variables.$mainFontSize;
      line-height: #{$remLineHeight}rem #{"#{if($important, ' !important', '')}"};
    } @else {
      line-height: #{$lineHeight} #{"#{if($important, ' !important', '')}"};
    }
  } @else {
    // Automatyczna proporcja line-height: 1.2 dla małych fontów, 1.0 dla dużych (>48px)
    @if $size >= 48 {
      line-height: 1.0;
    } @else if $size >= 32 {
      line-height: 1.25;
    } @else if $size >= 24 {
      line-height: 1.333;
    } @else if $size >= 20 {
      line-height: 1.2;
    } @else if $size >= 16 {
      line-height: 1.5;
    } @else {
      line-height: 1.714;
    }
  }
}
@mixin media-query($type, $breakpoint) {
  $value: map-get(variables.$grid-breakpoints, $breakpoint);

  @if $type == "min" {
    @media screen and (min-width: $value) {
      @content;
    }
  } @else if $type == "max" {
    @media screen and (max-width: $value - 1px) {
      @content;
    }
  }
}
