@use "mixins";

.policy {
  h1 {
    font-weight: 600;
    line-height: 56px;
    @include mixins.fontSize(48);
  }

  h2 {
    @include mixins.fontSize(32);
    font-weight: 600;
    line-height: 32px;
    display: block;
    margin-bottom: 16px;
  }

  h3 {
    font-weight: 600;
    @include mixins.fontSize(24);
    line-height: 32px;
    display: block;
    margin-bottom: 16px;
  }

  section {
    margin-bottom: 24px;
  }

  p {
    line-height: 24px;
  }


  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0.5rem 0 1rem 0;
    margin-bottom: 16px;
    display: block;

    li {
      color: #333;
      line-height: 1.6;
      margin-bottom: 0.5rem;

      &::marker {
        color: #863087;
        font-size: 1.1em;
      }
    }
  }
}
