:root {
  --font-size-base: 16px;
  --line-height-base: 16px;
  --border-radius-base: 24px;
  --font-family: "Alexandria";


  --red-500: #FF1D25;

  /* White colors */
  --color-white: #FFFFFF;

  /* Black/Gray scale */
  --color-black: #000000;
  --color-black-25: #FAFAFA;
  --color-black-50: #F2F2F2;
  --color-black-100: #E2E2E2;
  --color-black-200: #B8B8B8;
  --color-black-300: #D4D4D4;
  --color-black-400: #8F8F8F;
  --color-black-600: #666666;
  --color-black-700: #525252;
  --color-black-900: #252525;

  /* Gray */
  --color-gray-900: #18181B;

  /* Purple scale */
  --color-purple-100: #F3E8FF;
  --color-purple-200: #E9D5FF;
  --color-purple-300: #D8B4FE;
  --color-purple-400: #C084FC;
  --color-purple-500: #C296C1;
  --color-purple-600: #9333EA;
  --color-purple-700: #A266A0;
  --color-purple-800: #6B21A8;
  --color-purple-900: #581C87;
  --color-purple-950: #3B0764;

  /* Purple custom (from hex values) */
  --p-primary-900: #863087;
  --color-purple-secondary: #712971;
  --color-purple-accent: #9747FF;

  /* Green scale */
  --color-green-800: #C1D342;
  --color-green-900: #B6CA40;
}

$mainFontSize: 16;
$borderRadius: 12px;
$transitionDuration: 0.3s;




$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 414px,
  lg: 768px,
  xlg: 992px,
  xl: 1024px,
  xxl: 1280px,
  xxxl: 1440px,
  fhd: 1920px
) !default;

$container-max-widths: (
  sm: 90%,
  md: 90%,
  lg: 768px,
  xlg: 992px,
  xl: 1024px,
  xxl: 1280px,
  xxxl: 1440px,
  fhd: 1920px
) !default;

$container-padding: 15px;
