@use 'mixins';

.hero-search {
  background: var(--color-purple-secondary);
  border-radius: 24px;
  max-width: 535px;

  &--header {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background: var(--p-primary-900);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      color: var(--color-white);
      font-weight: 500;
      font-size: 20px;
      background: var(--color-purple-secondary);
      padding-right: 24px;
      position: relative;
      z-index: 10;
    }
  }

  &--body {
    .dropdown-wrapper {
      width: 200px;
    }
  }
}
