@use "mixins";

.list-banner {
  border-radius: 24px;

  font-weight: 600;
  white-space: pre;
  &.large{
    padding: 40px 0;
    @include mixins.fontSize(32);
  }
  &.small{
    padding: 27px 0;
    @include mixins.fontSize(24);
  }
  &--label {
    color: var(--color-white);

    svg {
      height: 48px;
      width: auto;
      margin-right: 24px;
    }
  }

  &--description {
    color: var(--color-green-800);
  }
}
