@use "mixins";

.list-banner {
  border-radius: 24px;

  font-weight: 600;
  white-space: normal;
  @include mixins.media-query('max', 'xlg') {
    & > div {
      flex-direction: column;
    }

  }

  &.large {
    padding: 40px 0;
    @include mixins.fontSize(32);
    @include mixins.media-query('max', 'xlg') {
      padding: 16px 0;
      @include mixins.fontSize(24, 32);
    }
    @include mixins.media-query('max', 'xxl') {
      @include mixins.fontSize(24);
    }
    @include mixins.media-query('max', 'lg') {
      @include mixins.fontSize(16);
    }
  }

  &.small {
    padding: 27px 0;
    @include mixins.fontSize(24);
  }

  &--label {
    color: var(--color-white);
    word-wrap: break-word;
    overflow-wrap: break-word;
    @include mixins.media-query('max', 'xlg') {
      flex-direction: column;
      text-align: center;
    }
  }

  &--description {
    color: var(--color-green-800);
    word-wrap: break-word;
    overflow-wrap: break-word;
    @include mixins.media-query('max', 'xlg') {
      text-align: center;
    }
  }

  &--template {
    @include mixins.fontSize(24, 32);
  }
}

:host ::ng-deep {

  svg {
    height: 48px;
    width: auto;
    margin-right: 24px;
    @include mixins.media-query('max', 'xlg') {
      margin-right: 0;
      margin-bottom: 8px;
      height: 32px;
    }
  }
}
