@use 'mixins';

.offers-carousel {
  &__header {
    h3 {
      font-weight: 600;
      @include mixins.fontSize(32, 40);
    }
  }
}


:host ::ng-deep {
  .owl-dots {
    display: none;
    @include mixins.media-query('max', 'xlg') {
      display: block;
      position: relative;
      top:8px;
    }
  }

  .owl-nav {
    @include mixins.media-query('max', 'xlg') {
      display: none !important;
    }
  }
}
