<div class="offers-carousel">
  <div class="offers-carousel__header flex align-items-center justify-content-between pb-5">
    <h3>Podobne oferty</h3>
    <flexmile-button label="Pokaż pełną ofertę" iconPosition="right" icon="pi-arrow-right" (clicked)="goToList()"
                     [btnClass]="'hidden xlg:flex'"></flexmile-button>
  </div>
  <div class="offers-carousel__body relative">
    @if (similarOffers().length > 3) {
      <div class="swiper" #swiperContainer>
        <div class="swiper-wrapper">
          @for (offer of similarOffers(); let i = $index; track i) {
            <div class="swiper-slide">
              <div class="slide-content">
                <flexmile-car [offer]="offer"></flexmile-car>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="opinions-button-next hidden xlg:flex">
        <i class="pi pi-arrow-right"></i>
      </div>
      <div class="opinions-button-prev hidden xlg:flex">
        <i class="pi pi-arrow-left"></i>
      </div>
    } @else {
      <div class="no_carousel">
        @for (offer of similarOffers(); let i = $index; track i) {
          <flexmile-car [offer]="offer"></flexmile-car>
        }
      </div>
    }
  </div>
</div>
