@use 'mixins';


.faq {
  max-width: 860px;
  margin: 0 auto;

  h2 {
    @include mixins.fontSize(48, 56);
    font-weight: 600;
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(28, 36);
      text-align: left;
    }
  }

  &-list {
    &_item {
      background: var(--color-black-50);
      transition: background 0.3s ease;
      border-radius: var(--border-radius-base);

      &.expanded {
        background: var(--p-primary-900);

        .faq-list_item__header {
          color: var(--color-white);
        }

        .faq-list_item__arrow {
          transform: rotate(180deg);
          color: var(--color-white);
        }
      }

      &__header {
        font-weight: 500;
        @include mixins.fontSize(20, 24);
        color: var(--color-black);
        transition: color 0.3s ease;
        @include mixins.media-query('max', 'xlg') {
          @include mixins.fontSize(16, 24);
        }
      }

      &__arrow {
        color: var(--color-black);
        transition: all 0.3s ease;
        @include mixins.fontSize(24);
      }

      &__body {
        color: #F0E2EF;
        @include mixins.fontSize(16, 24);
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
        @include mixins.media-query('max', 'xlg') {
          @include mixins.fontSize(14, 24);
        }
      }
    }
  }
}
