@use "mixins";
.no-offers {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    @include mixins.fontSize(48, 56);
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top:48px;
    padding-bottom: 16px;
  }
  span{
    color: var(--color-black-700);
    @include mixins.fontSize(20, 32);
  }
}
