@use 'mixins';

.offer {
  background: var(--color-black-50);


  &--description {
    h4 {
      font-weight: 500;
      @include mixins.fontSize(20, 24);
      margin-bottom: 8px;
      @include mixins.media-query('max', 'xlg') {
        @include mixins.fontSize(18, 24);
        margin-bottom: 4px
      }
    }

    span {
      color: var(--color-black-700);
      @include mixins.media-query('max', 'xlg') {
        @include mixins.fontSize(14, 24);
      }
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      @include mixins.media-query('max', 'xlg') {
        align-items: flex-start;
      }
    }

    &_item-icon {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mixins.media-query('max', 'xlg') {
        align-items: flex-start;
        width: unset;
        height: unset;
      }

      img {
        display: block;
        max-width: 50px;
        height: auto;
        @include mixins.media-query('max', 'xlg') {
          max-width: 32px;
        }
      }
    }
  }

  &__id {
    color: var(--color-black-700);
    @include mixins.fontSize(12);
    @include mixins.media-query('max', 'xlg') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__body {
    & > .flex {
      gap: 32px;
      align-items: flex-start;
    }

    &-info {
      flex: 1;
      min-width: 0;

      &-header {
        h1 {
          @include mixins.fontSize(40, 56);
          font-weight: 600;
          @include mixins.media-query('max', 'xlg') {
            @include mixins.fontSize(28, 36);
          }
        }

        span {
          font-weight: 500;
          @include mixins.fontSize(20);
          @include mixins.media-query('max', 'xlg') {
            @include mixins.fontSize(14, 24);
          }
        }

        &-specs {
          display: flex;
          align-items: center;
          gap: 24px;
          flex-wrap: wrap;
          @include mixins.media-query('max', 'xlg') {
            gap: 16px;
          }

          div {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--color-black-700);
            @include mixins.fontSize(16);
            white-space: nowrap;
            @include mixins.media-query('max', 'xlg') {
              @include mixins.fontSize(14, 24);
            }
          }
        }
      }
    }

    &-form {
      background: var(--color-white);
      padding: 40px;
      border-radius: var(--border-radius-base);
      border: 1px solid var(--color-black-100);
      flex: 0 0 auto;
      min-width: 400px;
      max-width: 500px;
      //@TODO ogarnac sticky na koncu
      //position: sticky;
      //top: 160px;
      @include mixins.media-query('max', 'xlg') {
        border-color: var(--color-white);
      }
      @include mixins.media-query('max', 'xxl') {
        min-width: 350px;
        max-width: 400px;
        padding: 32px;
      }

      @include mixins.media-query('max', 'xl') {
        min-width: 0;
        max-width: 100%;
        width: 100%;
      }

      .header-wrapper {
        border-bottom: 1px solid var(--color-black-100);
      }

      h3 {
        font-weight: 600;
        @include mixins.fontSize(24, 32);
      }

      span {
        color: var(--color-black-700);
        @include mixins.fontSize(12);
        line-height: var(--line-height-base);
      }

      &-price {
        .p {
          color: var(--p-primary-900);
          font-weight: 600;
          @include mixins.fontSize(32);
          @include mixins.media-query('max', 'xlg') {
            @include mixins.fontSize(28, 36);
          }

          span {
            @include mixins.fontSize(24);
            color: var(--p-primary-900);
            font-weight: 600;
            @include mixins.media-query('max', 'xlg') {
              @include mixins.fontSize(16, 24);
            }
          }
        }
      }
    }

    // Responsive layout - zmiana na kolumnę poniżej xl (1024px)
    @include mixins.media-query('max', 'xl') {
      & > .flex {
        flex-direction: column;
      }

      &-info {
        width: 100%;
        padding-right: 0 !important;
      }
    }
  }
}


:host ::ng-deep {
  .mileage {
    flexmile-button {
      max-height: 48px;

      button {
        max-height: 48px;
      }
    }
  }

  .periods {
    flexmile-button {
      max-height: 48px;
      max-width: 48px;

      button {
        max-height: 48px;
        max-width: 48px;
      }
    }
  }

}

.offer--info {
  padding-bottom: 120px;

  &-container {
    max-width: 770px;
    @include mixins.media-query('max', 'xl') {
      max-width: 100%;
    }
  }

  h3 {
    font-weight: 600;
    @include mixins.fontSize(32, 40);
    @include mixins.media-query('max', 'xlg') {
      @include mixins.fontSize(24, 32);
    }
  }

  .technicals {
    &-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      @include mixins.media-query('max', 'xlg') {
        grid-template-columns: repeat(2, 1fr);
      }

      & > div {
        border-radius: 16px;
        background-color: var(--color-black-50);
        padding: 16px 24px;
        display: flex;
        flex-direction: column;

        span {
          @include mixins.fontSize(14, 24);
          color: var(--color-black-700);
          margin-bottom: 4px;
        }

        b {
          @include mixins.fontSize(16, 24);
          color: var(--color-black);
        }
      }
    }
  }
}

.equipment {
  &-list {
    &--standard {
      background: var(--color-black-50);

      li {
        color: var(--color-black-700);

        &:before {
          background: var(--color-black-700);
        }
      }
    }

    &--additional {
      background: var(--p-primary-900);

      & > div {
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
      }

      li {
        color: var(--color-white);

        &:before {
          background: var(--color-white);
        }
      }
    }

    & > div {
      padding: 40px;
      border-radius: 24px;
      @include mixins.media-query('max', 'xlg') {
        padding: 24px;
      }

      & > div {
        font-weight: 500;
        @include mixins.fontSize(20, 24);
        @include mixins.media-query('max', 'xlg') {
          @include mixins.fontSize(16, 24);
        }
      }

      ul {
        li {
          @include mixins.fontSize(16, 24);
          padding-left: 24px;
          margin-bottom: 4px;
          position: relative;
          @include mixins.media-query('max', 'xlg') {
            @include mixins.fontSize(14, 24);
            padding-left: 16px;
          }

          &:before {
            content: '';
            position: absolute;
            height: 4px;
            width: 4px;
            border-radius: 50px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .equipment-list__toggle {
        background: none;
        border: none;
        color: var(--p-primary-900);
        cursor: pointer;
        margin-top: 16px;
        padding: 0;
        font-weight: 600;
        @include mixins.fontSize(16);

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }
      }
    }
  }
}

.mobile-button-wrapper{
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background: var(--color-white);
  width: 100%;
  left: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 16px 24px 0 24px;
  will-change: transform, opacity;
  max-height: 90vh;
  overflow-y: auto;
}
