<div class="offer-wrapper" [style.min-height]="isLoading() ? '90vh' : null">
  @if (isLoading()) {
    <div class="__loading">
      <flexmile-loader></flexmile-loader>
    </div>
  } @else {
    @if (!ordering) {
      <flexmile-offer-details [similarOffers]="similarOffers" [details]="offerData()!"
                              (nextStep)="showNextStep($event)"></flexmile-offer-details>
    } @else {
      <flexmile-offer-order [details]="offerData()!" [orderObject]="orderObject!"
                            (previousStep)="ordering = !$event"></flexmile-offer-order>
    }
  }

</div>
@if (ordering) {
  <flexmile-player [label]="offerData()!.attributes.coming_soon ? 'Jak zarezerwować?' : 'Jak zamówić?'"
                   [fileName]="offerData()!.attributes.coming_soon ? 'rezerwacja.m4a' : 'zamowienie.m4a'"></flexmile-player>
} @else {
  <flexmile-player [label]="offerData()!.attributes.coming_soon ? 'Jak zarezerwować?' : 'Jak zamówić?'"
                   [fileName]="'wybor_parametrow.m4a'"></flexmile-player>
}



