@use 'mixins';
.offer-wrapper{
  padding-top: 125px;
  @include mixins.media-query('max', 'xxxl') {
    padding-top: 95px;
  }
  @include mixins.media-query('max', 'xl') {
    padding-top: 104px;
  }
}
