.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
  &--logo {
    svg {
      height: 62px;
      width: auto;
      transition: all 0.3s ease-in-out;
    }
  }

  &--scrolled {
    .header--logo {
      svg {
        height: 24px;
        width: auto;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &--nav {
    ul {
      li {
        a {
          color: var(--color-white);
        }
      }
    }
  }
}
