.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
  background: #863087;

  &--logo {
    svg {
      height: 62px;
      width: auto;
      transition: all 0.3s ease-in-out;
    }
  }

  &--scrolled {
    @supports (-webkit-backdrop-filter: initial) or (backdrop-filter: initial) {
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      background-color: rgba(134, 48, 135, 0.72);
    }

    .header--logo {
      svg {
        height: 24px;
        width: auto;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &--nav {
    ul {
      li {
        a {
          color: var(--color-white);
          transition: all 0.3s ease-in-out;
          position: relative;
          line-height: 24px;
          padding: 8px 16px;
          border-radius: 32px;
          background: transparent;
          &.active, &:hover {
            background-color: var(--color-purple-secondary);
          }
        }
      }
    }
  }
}
