@use 'mixins';

label {
  font-weight: 700;
  @include mixins.fontSize(14);
}

.has-error {
  input.f-input, textarea.f-textarea {
    border-color: var(--red-500);
  }
}
input.f-input{
  max-height: 51px;
}
input.f-input, textarea.f-textarea {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 40px;
  color: var(--color-black);
  @include mixins.fontSize(16);
  outline: none !important;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
