@use 'mixins';

:host {
  display: flex;

  ::ng-deep {
    svg {
      display: block;
    }

    .badge.large {
      .badge--icon {
        svg {
          height: 24px;
          width: auto;
        }
      }
    }

    .badge.medium {
      .badge--icon {
        svg {
          height: 16px;
          width: auto;
        }
      }
    }
  }
}

.badge {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 24px;

  &.medium {
    @include mixins.fontSize(10);
    line-height: 15px;
    padding: 6px 12px;
    //max-height: 24px;
    .badge--icon {
      margin-right: 8px;

    }
  }

  &.large {
    @include mixins.fontSize(16);
    line-height: 25px;
    padding: 12px 24px;
    //max-height: 48px;
    .badge--icon {
      margin-right: 12px;
    }
  }

  &.available, &.hot {
    color: var(--color-white);
    background-color: var(--p-primary-900);
  }

  &.new {
    color: var(--color-black-600);
    background: var(--color-white);
  }

  &.reserved, &.soon {
    color: var(--color-black-600);
    background: var(--color-black-100);
  }

  &.date {
    &.medium {
      max-height: 44px;
    }

    &.large {
      .badge--date {
        font-weight: normal;
        text-transform: none;
        margin-left: 35px;
      }
    }

    border-radius: 8px;

    .badge--date {
      margin-left: 24px;
    }
  }
}
