@use 'mixins';

.go-back {
  color: var(--p-primary-900);
  font-weight: 600;
  display: inline-flex;
  cursor: pointer;
  gap: 8px;
}

.offer-order {
  padding-bottom: 120px;

  .radios {
    label {
      color: #525252;
      @include mixins.fontSize(14, 24);
    }
  }

  &-details {
    &_section {
      &:nth-of-type(1) {
        border-bottom: 1px solid var(--color-black-100);
        margin-bottom: 32px;
        padding-bottom: 32px;
      }

      h4 {
        font-weight: 500;
        @include mixins.fontSize(20);
      }

      & > div {
        & > span {
          padding-bottom: 12px;
          display: block;

          span {
            color: var(--color-black-700);
          }
        }
      }
    }
  }

  &_left {
    flex: 1;

    & > div {

      max-width: 640px;

      & > h2 {
        @include mixins.fontSize(48, 56);
      }

      & > span {
        color: var(--color-black-700);
        @include mixins.fontSize(16, 24);
        margin-bottom: 32px;
        padding-bottom: 32px;
        display: block;
        border-bottom: 1px solid var(--color-black-100);
      }
    }
  }

  &_right {
    max-width: 415px;
    width: 100%;

    & > div {
      background: var(--color-black-50);
      border-radius: var(--border-radius-base);

      .right_label {
        background: var(--p-primary-900);
        border-radius: 16px;
        padding: 14px 16px;

        &.soon {
          background: var(--color-black-100);

          b {
            color: var(--color-black-700) !important;
          }

          span {
            color: var(--color-black-600) !important;
          }
        }

        & > div {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;

          b {
            @include mixins.fontSize(16, 24);
            color: var(--color-white);
            font-weight: 600;
          }

          span {
            @include mixins.fontSize(14, 24);
            color: var(--color-white);
          }
        }
      }

      .right_id {
        @include mixins.fontSize(12, 16);
        color: var(--color-black-700);
      }

      .right_title {
        font-weight: 600;
        @include mixins.fontSize(24, 32);
      }

      .right_subtitle {
        @include mixins.fontSize(16, 24);
      }

      .right_img {
        max-height: 276px;

        img {
          display: block;
          width: 100%;
        }
      }

      .right_price {
        color: var(--p-primary-900);
        font-weight: 600;
        @include mixins.fontSize(32, 40);

        span {
          @include mixins.fontSize(24, 32);
        }
      }
    }
  }

}

:host ::ng-deep {
  .order-input {
    input {
      border-color: var(--color-black-200) !important;
    }
  }

  .right_consents {
    label {
      align-items: flex-start !important;
    }
  }
}

.order-modal {
  .model {
    font-weight: 500;
    @include mixins.fontSize(20, 24);
  }

  .title {
    @include mixins.fontSize(32, 40);
    font-weight: 600;
  }

  span {
    color: var(--color-black-700);
    @include mixins.fontSize(14, 24);
  }
}
