@use 'mixins';

.go-back {
  color: var(--p-primary-900);
  font-weight: 600;
  display: inline-flex;
  cursor: pointer;
  gap: 8px;
}

.offer-order {
  padding-bottom: 120px;

  .radios {
    label {
      color: #525252;
      @include mixins.fontSize(14);
      line-height: 24px;
    }
  }

  &-details {
    &_section {
      &:nth-of-type(1) {
        border-bottom: 1px solid var(--color-black-100);
        margin-bottom: 32px;
        padding-bottom: 32px;
      }

      h4 {
        font-weight: 500;
        @include mixins.fontSize(20);
      }

      & > div {
        & > span {
          padding-bottom: 12px;
          display: block;

          span {
            color: var(--color-black-700);
          }
        }
      }
    }
  }

  &_left {
    flex: 1;

    & > div {

      max-width: 640px;

      & > h2 {
        @include mixins.fontSize(48);
        line-height: 56px;
      }

      & > span {
        color: var(--color-black-700);
        line-height: 24px;
        margin-bottom: 32px;
        padding-bottom: 32px;
        display: block;
        border-bottom: 1px solid var(--color-black-100);
      }
    }
  }

  &_right {
    max-width: 415px;
    width: 100%;

    & > div {
      background: var(--color-black-50);
      border-radius: var(--border-radius-base);

      .right_id {
        @include mixins.fontSize(12);
        color: var(--color-black-700);
        line-height: 16px;
      }

      .right_title {
        font-weight: 600;
        line-height: 32px;
        @include mixins.fontSize(24);
      }

      .right_subtitle {
        line-height: 24px;
      }
      .right_img{
        max-height: 276px;
        img{
          display: block;
          width: 100%;
        }
      }
      .right_price {
        color: var(--p-primary-900);
        font-weight: 600;
        line-height: 40px;
        @include mixins.fontSize(32);

        span {
          @include mixins.fontSize(24);
          line-height: 32px;
        }
      }
    }
  }

}

:host ::ng-deep .order-input {
  input {
    border-color: var(--color-black-200) !important;
  }
}
