@use 'mixins';

.go-back {
  color: var(--p-primary-900);
  font-weight: 600;
  display: inline-flex;
  gap: 8px;
  width: 100%;

  span {
    cursor: pointer;
  }
}

.offer-order {
  padding-bottom: 120px;
  @include mixins.media-query('max', 'xl') {
    padding-bottom: 0;
  }

  .__loading {
    position: fixed;
  }

  .radios {
    label {
      color: #525252;
      @include mixins.fontSize(14, 24);
    }
  }

  &-details {
    &_section {
      &:nth-of-type(1) {
        border-bottom: 1px solid var(--color-black-100);
        margin-bottom: 32px;
        padding-bottom: 32px;
      }

      h4 {
        font-weight: 500;
        @include mixins.fontSize(20);
        @include mixins.media-query('max', 'xl') {
          @include mixins.fontSize(18, 24);
        }
      }

      & > div {
        & > span {
          padding-bottom: 12px;
          display: block;

          span {
            color: var(--color-black-700);
          }
        }
      }
    }
  }

  &_left {
    & > div {

      max-width: 640px;
      @include mixins.media-query('max', 'xl') {
        max-width: 100%;
      }

      & > h2 {
        @include mixins.fontSize(48, 56);
        @include mixins.media-query('max', 'xl') {
          @include mixins.fontSize(28, 36);
        }
      }

      & > span {
        color: var(--color-black-700);
        @include mixins.fontSize(16, 24);
        margin-bottom: 32px;
        padding-bottom: 32px;
        display: block;
        border-bottom: 1px solid var(--color-black-100);
        @include mixins.media-query('max', 'xl') {
          @include mixins.fontSize(14, 24);
        }
      }
    }
  }

  &_right {
    max-width: 415px;
    min-width: 415px;
    width: 100%;
    @include mixins.media-query('max', 'xl') {
      max-width: unset;
      min-width: unset;
    }

    & > div {
      background: var(--color-black-50);
      border-radius: var(--border-radius-base);
      position: sticky;
      top: 160px;
      @include mixins.media-query('max', 'xl') {
        border-radius: 0;
        position: static;
        top: unset;
      }

      .right_label {
        background: var(--p-primary-900);
        border-radius: 16px;
        padding: 14px 16px;

        &.soon {
          background: var(--color-black-100);

          b {
            color: var(--color-black-700) !important;
          }

          span {
            color: var(--color-black-600) !important;
          }
        }

        & > div {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;

          b {
            @include mixins.fontSize(16, 24);
            color: var(--color-white);
            font-weight: 600;
          }

          span {
            @include mixins.fontSize(14, 24);
            color: var(--color-white);
          }
        }
      }

      .right_id {
        @include mixins.fontSize(12, 16);
        color: var(--color-black-700);
      }

      .right_title {
        font-weight: 600;
        @include mixins.fontSize(24, 32);
      }

      .right_subtitle {
        @include mixins.fontSize(16, 24);
      }

      .right_img {
        max-width: 85px;
        border: 1px solid var(--color-black-100);
        border-radius: 8px;
        overflow: hidden;
        @include mixins.media-query('max', 'xl') {
          max-height: unset;
        }

        img {
          display: inline-block;
          max-width: 100%;
        }
      }

      .right_price {
        color: var(--p-primary-900);
        font-weight: 600;
        @include mixins.fontSize(32, 40);

        span {
          @include mixins.fontSize(24, 32);
        }
      }
    }
  }

}

:host ::ng-deep {
  .order-input {
    input {
      border-color: var(--color-black-200) !important;
    }
  }

  .right_consents {
    label {
      align-items: flex-start !important;
    }
  }
}

.order-modal {
  .model {
    font-weight: 500;
    @include mixins.fontSize(20, 24);
  }

  .title {
    @include mixins.fontSize(32, 40);
    font-weight: 600;
  }

  span {
    color: var(--color-black-700);
    @include mixins.fontSize(14, 24);
  }
}


@include mixins.media-query('max', 'xl') {
  .mobile_title {
    @include mixins.fontSize(14, 24);
  }

}

:host ::ng-deep {
  .periods, .mileage {
    .btn {
      @include mixins.fontSize(16, 24);
      max-height: 48px;
    }
  }
}
