@use "mixins";
.player {
  position: fixed;
  bottom: 40px; // Default, will be updated dynamically by JS
  right: 64px;
  background: var(--color-green-800);
  border: 1px solid var(--color-green-800);
  border-radius: 40px;
  height: 48px;
  padding-right: 24px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  cursor: pointer;
  z-index: 90;
  @include mixins.media-query('max', 'xlg') {
    right: 40px;
  }
  &--label {
    color: var(--p-primary-900);
    font-weight: 600;
  }

  &--button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: var(--color-purple-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





